# Artifacts
bin/
obj/
.make/
_opam/
!**/ocaml/bin/
_build/

# Packages
node_modules/
.direnv/

# Problem input
input*
test.*

# IDE Settings
aws.xml
discord.xml

# User Settings
.envrc
*.user

# Garbage
.DS_Store
